@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px 20px 120px;
    background-color: #03052a;
    box-shadow: 0 0px 8px #050837;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo img{
    height: auto;
    width: 130px;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    margin-right: 80px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
}
.navbar a:hover{
    transition: .2s;
    transform: scale(.95);
}
.dropCon1{
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    border: transparent;
    color: #fff;
    margin-right: 70px;
    position: relative;
}
.dropCon1 .drop:hover{
    transition: .2s;
    transform: scale(.95);
}
.menuCon1{
    background-color: #06083c;
    border: none;
}
.menuCon1 .item1{
    display: flex;
    justify-content: center;
    margin: 0;
}
.menuCon1 .item1:hover{
    background-color: #060b58;
    transition: .2s;
    transform: scale(.9);
}
.login{
    border: .5px #ffffff49 solid;
    background-color: #1a1e60;
    padding: 3px 10px;
}
.login a{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 0;
}
.login:hover{
    transition: .3s;
    background-color: #272ea7;
    border: .5px #fff solid;
    transform: scale(.9);
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03052a;
}
.contents{
    display: flex;
    gap: 80px;
    padding: 60px 120px;
    width: 100%;
    position: relative;
}
.nav{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #53535390;
    height: 300px;
    position: sticky;
    top: 153px;
    left: 0;
}
.nav a{
    padding: 20px 85px 20px 15px;
    text-decoration: none;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
}
.nav a:hover{
    transition: .2s;    
    background: linear-gradient(to left, #080e5cd2 0%, #03052a 100%);
}
.nav .active{
    background: linear-gradient(to left, #080e5cd2 0%, #03052a 100%);
}
.dropCon{
    position: relative;
}
.dropCon .drop{
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    border: transparent;
    color: #fff;
    padding: 20px 85px 20px 15px;
}
.dropCon:hover{
    transition: .2s;    
    background: linear-gradient(to left, #080e5cd2 0%, #040632 100%);
}
.menuCon{
    background-color: #06083c;
    border: none;
}
.menuCon .item{
    display: flex;
    justify-content: center;
    padding: 0 8px;
}
.menuCon .item:hover{
    background: linear-gradient(to left, #080e5cd2 0%, #06083c 100%);
    transition: .2s;
    transform: scale(.94);
}
.content2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60vw;
    min-height: 80vh;
}
.content2 h5{
    color: #fff;
    font-family: "Cinzel", serif;
    width: 90px;
    margin: 0;
}
.uploads{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff4e;
    padding-bottom: 10px;
}
.uploads a{
    display: flex;
    color: #a4a4a4af;   
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #a4a4a4af;
    padding: 5px;
    border-radius: 5px;
}
.uploads a:hover{
    transform: scale(.97);
    border: 1px solid #d7ac00;
    color: #d7ac00;
    transition: .2s;
}
.videoUploads{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.Display h6{
    color: #fff;
    font-weight: lighter;
    width: 225px;
    position: relative;
}
.Display a{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #c80303;
}







/* logout */


.modal2 {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.64);
}
.modal2-content{
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #040737;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal2-content h2{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cacaca;
}
.modal2-content p{
    font-size: 16px;
    color: #dedede;
}
.close2 {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #dedede;
    font-size: 20px;
}
.close2:hover{
    color: #d40000;
}
.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cancel, .logout{
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}
.logout{
    text-decoration: none;
    color: #fff;
    background-color: #1a1e60;
}
.logout:hover{
    transition: .2s;
    transform: scale(.96);
    color: #fff;
    background-color: #23277b;
}
.cancel:hover{
    transition: .2s;
    transform: scale(.96);
    background-color: #c7c7c7;
}





/* form */

.modal {
    display: none;
    z-index: 4;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.656);
}
.image img{
    position: absolute;
    left: 190px;
    top: -110px;
    height: 320px;
    width: auto;
}
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 90px;
    background-color: #050a44;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 380px;
    height: auto;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalopen;
    animation-duration: 0.4s;
}
.modal-content h3{
    margin-top: 10px;
    color: #fff;
    font-family: "Roboto Mono", monospace;
}
.modal-content .Error{
    color: #c20000;
}
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    color: rgb(110, 110, 110);
    text-decoration: none;
    cursor: pointer;
}
.modal-content h3{
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 25px;
}
.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form .control{
    width: 100%;
    padding: 4px;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #aeaeae;
}
form .VideoType div{
    color: #fff;
}
.video{
    font-weight: lighter;
    font-family: "Roboto Mono", monospace;
    color: #fff;
}
.loginBtn{
    width: 100px;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #aeaeae;
}
.loginBtn:hover{
    color: #fff;
    background-color: #0d17d0;
    transition: .2s;
    transform: scale(.9);
}





/* delete */
.modal3 {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal3-dialog {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #040737;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal3-content{
    border: none;
    background-color: #040737;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    gap: 15px;
}
.modal3-content h2{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cacaca;
}
.modal3-content p{
    font-size: 14px;
}
.close3 {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.delete-btn{
    text-decoration: none;
    color: #800e0e;
    cursor: pointer;
}
.delete-btn:hover{
    transition: .2s;
    color: #dd0000;
}
.btns3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cancel3, .delete3{
    cursor: pointer;
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
}
.delete3{
    color: #fff;
    background-color: #c20000;
}

.cancel3:hover{
    transition: .2s;
    transform: scale(.96);
    background-color: #b3b3b3;
}
.delete3:hover{
    transition: .2s;
    transform: scale(.96);
    background-color: #d40101;
}
