@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px 20px 120px;
    background-color: #03052a;
    box-shadow: 0 0px 8px #050837;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo img{
    height: auto;
    width: 130px;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    margin-right: 60px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
}
.navbar a:hover{
    transition: .2s;
    transform: scale(.95);
}
.dropCon{
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    border: transparent;
    color: #fff;
    margin-right: 60px;
    position: relative;
}
.dropCon .drop:hover{
    transition: .2s;
    transform: scale(.95);
}
.menuCon{
    background-color: #06083c;
    border: none;
}
.menuCon .item{
    display: flex;
    justify-content: center;
    margin: 0;
}
.menuCon .item:hover{
    color: #fff;
    background-color: #060b58;
    transition: .2s;
    transform: scale(.9);
}
.login{
    border: .5px #ffffff49 solid;
    background-color: #1a1e60;
    padding: 3px 10px;
}
.login a{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 0;
}
.login:hover{
    transition: .3s;
    background-color: #272ea7;
    border: .5px #fff solid;
    transform: scale(.9);
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/Moskov\ -\ Infernal\ Wyrmlord.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contents{
    display: flex;
    gap: 50px;
    padding: 60px 120px;
    background: linear-gradient(to left, #03052ad7 30%, #03052a 100%);
    width: 100%;
    min-height: 90vh;
    position: relative;
}
.nav{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #53535390;
    height: 250px;
    position: sticky;
    top: 153px;
    left: 0;
}
.nav a{
    padding: 25px 85px 25px 15px;
    text-decoration: none;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
}
.nav a:hover{
    transition: .2s;    
    background: linear-gradient(to left, #080e5cd2 0%, #040632 100%);
}
.nav .active{
    background: linear-gradient(to left, #080e5cd2 0%, #040632 100%);
}
.content2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70vw;
}
.content2 h5{
    color: #fff;
    font-family: "Cinzel", serif;
    width: auto;
    margin: 0;
    border-bottom: 1px solid #ffffff4e;
    padding-bottom: 10px;
}
.videoUploads{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.Display h6{
    color: #fff;
    font-weight: lighter;
    width: 225px;
    position: relative;
}
.Display a{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #c80303;
}




/* logout */


.modal2 {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.64);
}
.modal2-content{
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #040737;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal2-content h2{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cacaca;
}
.modal2-content p{
    font-size: 16px;
    color: #dedede;
}
.close2 {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #dedede;
    font-size: 20px;
}
.close2:hover{
    color: #d40000;
}
.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cancel, .logout{
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}
.logout{
    text-decoration: none;
    color: #fff;
    background-color: #1a1e60;
}
.logout:hover{
    transition: .2s;
    transform: scale(.96);
    color: #fff;
    background-color: #23277b;
}
.cancel:hover{
    transition: .2s;
    transform: scale(.96);
    background-color: #c7c7c7;
}




/* delete */
.modal3 {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal3-dialog {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #040737;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal3-content{
    border: none;
    background-color: #040737;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    gap: 15px;
}
.modal3-content h2{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cacaca;
}
.modal3-content p{
    font-size: 14px;
}
.close3 {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.delete-btn{
    text-decoration: none;
    color: #800e0e;
    cursor: pointer;
}
.delete-btn:hover{
    transition: .2s;
    color: #dd0000;
}
.btns3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cancel3, .delete3{
    cursor: pointer;
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
}
.delete3{
    color: #fff;
    background-color: #c20000;
}

.cancel3:hover{
    transition: .2s;
    transform: scale(.96);
    background-color: #b3b3b3;
}
.delete3:hover{
    transition: .2s;
    transform: scale(.96);
    background-color: #d40101;
}

