@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px 20px 120px;
    background-color: #03052ad7;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo img{
    height: auto;
    width: 130px;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    margin-right: 80px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
}
.navbar a:hover{
    transition: .2s;
    transform: scale(.95);
}
.dropCon{
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    border: transparent;
    color: #fff;
    margin-right: 70px;
    position: relative;
}
.dropCon .drop:hover{
    transition: .2s;
    transform: scale(.95);
}
.menuCon{
    background-color: #06083c;
    border: none;
}
.menuCon .item{
    display: flex;
    justify-content: center;
    margin: 0;
}
.menuCon .item:hover{
    color: #fff;
    background-color: #060b58;
    transition: .2s;
    transform: scale(.9);
}
.login{
    border: .5px #ffffff49 solid;
    background-color: #1a1e60;
    padding: 3px 10px;
}
.login a{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 0;
}
.login:hover{
    transition: .3s;
    background-color: #272ea7;
    border: .5px #fff solid;
    transform: scale(.9);
}
section{
    background: linear-gradient(to bottom, #03052ad7 50%, #080a31 100%);
    height: 80vh;
    position: relative;
}
.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: -1;
}
.content{
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.content img{
    height: 280px;
    width: auto;
}
.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #fff;
}
.join a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid #ffffff8d;
    padding: 4px 12px;
    font-family: "Noto Serif", serif;
}
.join:hover{
    transition: .3s;
    transform: scale(1.1);
}
.join a:hover{
    background-color: #090d50;
    box-shadow: 0px 0px 15px #060b6c;
}


#New{
    background-color: #080a31;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}
#New h4{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: "Roboto Mono", monospace;
}
.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card{
    border: none;
    border-radius: 0;
}
.card img{
    border-radius: 0;
}
.card .credits{
    font-size: 11px;
    color: #fff;
}
.card small{
    color: #b09200;
    font-family: sans-serif;
    font-size: smaller;
}
.card-body{
    background-color: #080a31;
    color: #fff;
    padding-left: 0;
}
.card-body .btn{
    border: .5px #ffffff49 solid;
    background-color: #1a1e60;
    padding: 3px 10px;
    color: #fff;
    border-radius: 0;
}
.card-body .btn:hover{
    transition: .3s;
    background-color: #272ea7;
    border: .5px #fff solid;
    transform: scale(.9);
}


#Tips{
    background-color:#080a31;
    padding: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-family: "Roboto Mono", monospace;
}
.content2{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    font-family: sans-serif;
    width: 400px;
}
.image1 img{
    height: 380px;
    width: auto;
}


#about{
    background-color:#080a31;
    padding: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-family: "Roboto Mono", monospace;
    
}
.content3{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
}


/* login */
.modal {
    display: none;
    z-index: 4;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.656);
}
.image img{
    position: absolute;
    left: 140px;
    top: -90px;
    height: 320px;
    width: auto;
}
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: -50px;
    background-color: #050a44;
    margin: 15% auto;
    border-radius: 10px;
    width: 310px;
    height: auto;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalopen;
    animation-duration: 0.4s;
}
.modal-content h3{
    margin-top: 10px;
    color: #fff;
    font-family: "Roboto Mono", monospace;
}
.modal-content .Error{
    color: #c20000;
}
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    color: rgb(110, 110, 110);
    text-decoration: none;
    cursor: pointer;
}
.modal-content h3{
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 25px;
}
.modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
form .control{
    padding: 4px;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #aeaeae;
}
.loginBtn{
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #aeaeae;
}
.loginBtn:hover{
    color: #fff;
    background-color: #0d17d0;
    transition: .2s;
    transform: scale(.9);
}
.modal-content p{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 13px;
}
.modal-content a{
    text-decoration: none;
    color: #c7b300;
}



/* signup */
.modal2{
    display: none;
    z-index: 4;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.656);
}
.image img{
    position: absolute;
    left: 140px;
    top: -90px;
    height: 320px;
    width: auto;
}
.modal-content2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: -50px;
    background-color: #050a44;
    margin: 15% auto;
    border-radius: 10px;
    width: 310px;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalopen;
    animation-duration: 0.4s;
}
.modal-content2 h3{
    margin-top: 10px;
    color: #fff;
    font-family: "Roboto Mono", monospace;
}
.modal-content2 .Error{
    color: #c20000;
}
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    color: rgb(110, 110, 110);
    text-decoration: none;
    cursor: pointer;
}
.modal-content2 h3{
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 25px;
}
.modal-content2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
form .control2{
    padding: 4px;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #aeaeae;
}
.loginBtn{
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #aeaeae;
}
.loginBtn:hover{
    color: #fff;
    background-color: #0d17d0;
    transition: .2s;
    transform: scale(.9);
}
.modal-content2 p{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 13px;
}
.modal-content2 a{
    text-decoration: none;
    color: #c7b300;
}


